In [3]:
import pandas as pd
df = pd.read_csv("archive/Amazon_Unlocked_Mobile.csv")

In [3]:
df.describe()

               Price         Rating   Review Votes
count  407907.000000  413840.000000  401544.000000
mean      226.867155       3.819578       1.507237
std       273.006259       1.548216       9.163853
min         1.730000       1.000000       0.000000
25%        79.990000       3.000000       0.000000
50%       144.710000       5.000000       0.000000
75%       269.990000       5.000000       1.000000
max      2598.000000       5.000000     645.000000

In [12]:
# Number of entrys
num_rows, num_columns = df.shape
print(num_rows)

413840

In [14]:
print(df.shape)

(413840, 6)

In [15]:
print(df.columns)

Index(['Product Name', 'Brand Name', 'Price', 'Rating', 'Reviews',
       'Review Votes'],
      dtype='object')

In [16]:
columna = 'Review Votes'
conteo_valores = df[columna].value_counts()

print(conteo_valores)

Review Votes
0.0      278443
1.0       56930
2.0       23936
3.0       11956
4.0        6967
          ...
214.0         1
193.0         1
147.0         1
487.0         1
335.0         1
Name: count, Length: 241, dtype: int64

In [24]:
columna = 'Brand Name'
conteo_valores = df[columna].value_counts()

print(conteo_valores)

Brand Name
Samsung         65747
BLU             63248
Apple           58186
LG              22417
BlackBerry      16872
                ...
M-HORSE             1
ToShare Tech        1
LeEco               1
Danger Inc.         1
Concox              1
Name: count, Length: 384, dtype: int64

In [33]:
# Removes 67% of the dataframe (those reviews that weren't helpful to anyone)
df = df[df['Review Votes']!=0]
print(df.shape)

(135397, 6)

In [38]:
# bastante palabras espec√≠ficas en la columna 'Reviews'
df1 = df[df['Review Votes']!=0]
palabras_clave = ['camera', 'speaker', 'chip', 'byte', 'battery', 'screen','price','time']
df_paraules = df1[df1['Reviews'].apply(lambda x: any(palabra in str(x).lower() for palabra in palabras_clave))]

df_paraules.to_csv('filtered_df.csv',index=False)

(59322, 6)